﻿@model stock123final.Models.transaccione

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Desea usted eliminar esta transacción?</h3>
<div>
    <h4>transacciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Tipo de Transacción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_transaccion)
        </dd>

        <dt>
            <label>Fecha de Transacción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            <label>Cantidad</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            <label>Monto</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            <label>Descripción de Articulo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articulo1.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver atras", "Index")
        </div>
    }
</div>
