﻿@model stock123final.Models.asiento_contable

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h3>Asiento Contable</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Auxiliar</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_auxiliar)
        </dd>

        <dt>
            <label>Descripcion</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            <label>Cuenta Contable</label>
        </dt>

        <dd>
            @(Model.cuenta_contable == "82" ? "Cuenta x Pagar Proveedor x" : "Inventario")
        </dd>

        <dt>
            <label>Tipo de Movimiento</label>
        </dt>

        <dd>
            @(Model.tipo_movimiento == "CR" ? "Credito" : "Inativo")
        </dd>

        <dt>
            <label>Fecha de Asiento</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_asiento)
        </dd>

        <dt>
            <label>Monto Total</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_asiento)
        </dd>

        <dt>
            <label>Estado</label>
        </dt>

        <dd>
            @(Model.estado_asiento == true ? "Activo" : "Inactivo")
        </dd>

        <dt>
            <label>Tipo de inventario</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_inventario1.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |||
    @Html.ActionLink("Enviar", "Enviar", new { id = Model.id },new { onclick = "return confirm('Estas seguro que deseas enviar este Asiento Contable?');"})|||
        |
        @Html.ActionLink("Volver atras", "Index")
</p>
