﻿@model stock123final.Models.asiento_contable

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Asiento Contable</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.id_auxiliar,"Auxiliar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_auxiliar, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.id_auxiliar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion,"Descripcion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipo_inventario, "Tipo de Inventario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tipo_inventario", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipo_inventario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cuenta_contable,"Cuenta Contable", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cuenta_contable", new List<SelectListItem>
                    {
                    new SelectListItem{Text = "Inventario", Value = "6"},
                    new SelectListItem{Text = "Cuentas x Pagar Proveedor X", Value = "82"},

                    }, "Selecciona la Cuenta Contable", new
                    {
                    @class = "form-control"
                    })

                    @Html.ValidationMessageFor(model => model.cuenta_contable, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipo_movimiento,"Tipo de Movimiento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tipo_movimiento", new List<SelectListItem>
            {
                new SelectListItem{Text = "Debito", Value = "DB"},
                new SelectListItem{Text = "Credito", Value = "CR"},

            }, "Selecciona El tipo de Movimiento", new
            {
                @class = "form-control"
            })

                @Html.ValidationMessageFor(model => model.tipo_movimiento, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_asiento,"Fecha del Asiento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_asiento, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.fecha_asiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.monto_asiento,"Monto Total", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.monto_asiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.monto_asiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado_asiento,"Estado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                 
                @Html.DropDownList("estado_asiento", new List<SelectListItem>
            {
                new SelectListItem{Text = "Inactivo", Value = "false"},
                new SelectListItem{Text = "Activo", Value = "true"},

            }, "Selecciona el estado", new
            {
                @class = "form-control"
            })

                @Html.ValidationMessageFor(model => model.estado_asiento, "", new { @class = "text-danger" })

            
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver atras", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
