﻿@model IEnumerable<stock123final.Models.asiento_contable>

@{
    ViewBag.Title = "Asiento Contable";
}

<h2>Asiento Contable</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Auxiliar</label>
        </th>
        <th>
            <label>Descripcion</label>
        </th>
        <th>
            <label>Cuenta Contable</label>
        </th>
        <th>
            <label>Tipo de Movimiento</label>
        </th>
        <th>
            <label>Fecha de asiento</label>
        </th>
        <th>
            <label>Monto Total</label>
        </th>
        <th>
            <label>Estado </label>
        </th>
        <th>
            <label>Tipo de Inventario</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <label id="IdAuxiliar">@Html.DisplayFor(modelItem => item.id_auxiliar)</label>
        </td>
        <td id="Descripcion">
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td id="CuentaContable">
            @Html.DisplayFor(modelItem => item.cuenta_contable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_movimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_asiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto_asiento)
        </td>
        <td>
            @(item.estado_asiento == true ? "Activo" : "Inactivo")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_inventario1.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id }) |
            @Html.ActionLink("Descargar", "Export", new { id = item.id }, new { onclick = "return confirm('Desea descargar este Archivo .xml?');" })
        </td>
    </tr>
}

</table>

    <title>
        XML File
    </title>
<br />
<body>
    <div class="table">
        @using (Html.BeginForm("Exportar", "asiento_contable", FormMethod.Post, new
        {
            enctype = "multipart/form-data"
        }))
        {
            <div>
                @ViewBag.Error
                <br />
                XML Archivo<input type="file" name="xmlFile" class="btn btn-default" />
                <br />
                Enviar Archivo<input  type="submit" value="Exportar" class="btn btn-default" />
            </div>
        }
    </div>
</body>

