﻿@model stock123final.Models.articulo

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h3>Articulo</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Descripción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            <label>Existencia</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.existencia)
        </dd>

        <dt>
            <label>Costo por unidad</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo_unitario)
        </dd>

        <dt>
            <label>Estado del articulo</label>
        </dt>

        <dd>
            @(Model.estado_articulo == true ? "Activo" : "Inactivo")
        </dd>

        <dt>
            <label>Tipo de Inventario</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_inventario1.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_articulo }) |
    @Html.ActionLink("Volver atras", "Index")
</p>
