﻿@model stock123final.Models.tipo_inventario

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta Seguro que desea Eliminar este Tipo de Inventario?</h3>
<div>
    <h3>Tipo de Inventario: @Html.DisplayFor(model => model.descripcion)</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Descripción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            <label>Cuenta Contable</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuenta_contable)
        </dd>

        <dt>
            <label>Estado</label>
        </dt>

        <dd>
            @(Model.estado_tipo == true ? "Activo" : "Inactivo")
        </dd>

        <dt>
            <label>Almacen</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.almacen.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver atras", "Index")
        </div>
    }
</div>
