﻿@model stock123final.Models.tipo_inventario

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tipo de Inventario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_tipo)

        <div class="form-group">
            @Html.LabelFor(model => model.id_almacen, "Almacen", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_almacen", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_almacen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, "Descripcion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cuenta_contable, "Cuenta Contable", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cuenta_contable", new List<SelectListItem>
    {
        new SelectListItem{Text = "Inventario", Value = "06"},
        new SelectListItem{Text = "Cuentas x Pagar Proveedor X", Value = "82"},

    }, "Selecciona la Cuenta Contable", new
    {
        @class = "form-control"
    })

                @Html.ValidationMessageFor(model => model.cuenta_contable, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado_tipo, "Estado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("estado_tipo", new List<SelectListItem>
                {
                    new SelectListItem{Text = "Inactivo", Value = "false"},
                    new SelectListItem{Text = "Activo", Value = "true"},

                }, "Selecciona el Estado", new
                {
                    @class = "form-control"
                })

                @Html.ValidationMessageFor(model => model.estado_tipo, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver atras", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
